<h1 style="margin-top: 140px;"></h1>

<h1 class="text-center my-4 text-primary font-weight-bold">Forgot your password?</h1>


<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="container p-4 border rounded shadow-sm bg-light" style="max-width: 500px;">

  <%= form_with url: passwords_path, class: "d-flex flex-column align-items-center" do |form| %>
    <div class="mb-3 w-50">
      <%= form.email_field :email_address, class: "form-control", required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address] %>
    </div>
    <div class="mb-3 w-50">
      <%= form.submit "Email reset instructions", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
<h1 style="margin-top: 200px;"></h1>
